.merriweather-hello {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    margin: 0 auto;
}

.nav-banner {
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(224, 164, 85); */
    background-color: transparent;
    height: 70px;

}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 10px 20px;
    background-color: transparent;

    /* background-color: rgb(8, 54, 39); */


}

nav h2 {
    font-size: xx-large;
    color: azure;
}

nav h2 span {
    color: blue;
}

nav li a {
    text-decoration: none;
    color: rgb(236, 234, 234);
    font-size: 1.1em;
    font-weight: 450;

}

nav li a:hover {
    color: blue;
}

.btn {
    font-size: 1.2em;
    margin: 0;
    padding: 8px 25px;
    border-radius: 50px;
    border: 1px solid blue;
    background-color: transparent;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;

}

nav button:hover {
    background-color: blue;
    /* transform: scale(1.05); */
}

nav button:active {
    transform: scale(0.95);
}

/* Banner */
.banner {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.banner-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 0 30px;
    /* background-color: cadetblue; */
}

.btn-lft {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn-lft button:hover {
    background-color: blue;
}

.btn-lft button:active {
    transform: scale(0.95);
}

.lft-p {
    font-size: large;
    text-align: center;
    color: aliceblue;
}

.banner-left h2 {
    font-size: xx-large;
    color: aliceblue;
}

.banner-right {
    flex: 1.5;
}

.banner img {
    width: 100%;
    /* max-height: 700px; */
    object-fit: cover;
}




/* Main section */
main {
    max-width: 1140;
    margin: 0 auto;
}


/* About section */
.about {
    background-color: #181818;
    padding: 100px;
    text-align: left;
    /* max-width: 50%; */
}

.about h2 {
    margin: 0 20px;
    font-size: xx-large;
    color: aliceblue;
    padding-bottom: 20px;

}

.about p {
    font-size: large;
    text-align: justify;
    color: aliceblue;
    margin: 0 20px;
    line-height: 1.5;
}

.logos {
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 20px;
    margin: 20px 0;
    font-size: 30px;

}

.logos a {
    color: white;
    transition: all 0.3s ease;
}

.logos a:hover {
    color: blue;
    transform: scale(1.2);
}


/* Skills section  */

.card-section {
    padding: 100px;
    text-align: left;
    background-color: black;
}

.card-section h2 {
    margin: 0 20px;
    font-size: xx-large;
    color: aliceblue;
    padding-bottom: 20px;
}


.card-section .card {
    /* background-color: #1a1a1a; */
    background-color: #181818;
    /* margin: 0 20px; */
    color: aliceblue;
    padding: 20px;
    border-radius: 15px;
    width: calc(40% - 15px);
}

.card-section .card h3 {
    font-size: x-large;
    color: aliceblue;
    margin-top: 15px;
    margin-bottom: 10px;
}

.card img {
    max-width: 60px;
    /* margin: 20px 20px;    */

}

.card-section .card ul {
    font-size: large;
    color: aliceblue;
    line-height: 1.5;
    padding-left: 20px;
}

.all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


/* Projects Card */

.projects-section{
    padding: 50px 100px;
    background-color: black;
    color: aliceblue;
    }

/* h2 */

.projects-section h2 {
    margin: 0 20px;
    font-size: xx-large;
    color: aliceblue;
    padding-bottom: 20px;
}


.projects-section ul{
    display: flex;
    gap: 10px;
    list-style: none;
    padding-left: 0px;
}
.projects-section ul li{
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 5px 5px;
    font-size: small;
}

.p-card{
    display: flex;
    border: 3px solid #004A77;
    border-radius: 10px;
}

.p-card-left{
    flex: 5;
    padding: 30px 20px;
}
.p-card-left p{
    font-size: medium;
}

.p-card-right{
    flex: 5;
}

.p-card-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:0px 10px 10px 0px ;
}

.all-P-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 0px 20px;
    }
.all-P-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.p-card-left h3{
    font-size:x-large;
}

/* log of project  */


.project-logo {
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    transition: all 0.3s ease;
    display: inline-block;
}

.project-logo:hover {
    color: blue;
    transform: scale(1.2);
}

/* footer */
/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    color: aliceblue;
    
    
}
footer h3{
    font-size:xx-large ;
    padding-top: 20px;
}
footer p{
    font-size: larger;
    text-align: center;
    line-height: 1.8;
    padding-bottom: 20px;
}

footer hr{
    width: 90%;
    border: none;
    height: 1px;
    background-color: aliceblue;
    margin: 20px 0;
}

footer small{
    padding: 20px 0px;
    font-size: medium;
}

footer .bttn{
    background-color: blue;
    border: none;
}
