.merriweather-hello {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    margin: 0 auto;
}

.nav-banner{
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(224, 164, 85); */
    background-color: transparent;
    height: 70px;

}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 10px 20px;
    background-color: transparent;

    /* background-color: rgb(8, 54, 39); */


}

nav h2 {
    font-size: xx-large;
    color: azure;
}

nav h2 span {
    color: blue;
}

nav li a {
    text-decoration: none;
    color: rgb(236, 234, 234);
    font-size: 1.1em;
    font-weight: 450;

}

nav li a:hover {
    color: blue;
}

.btn {
    font-size: 1.2em;
    margin: 0;
    padding: 8px 25px;
    border-radius: 50px;
    border: 1px solid aliceblue;
    background-color: transparent;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;

}

nav button:hover {
    background-color: blue;
    /* transform: scale(1.05); */
}

nav button:active {
    transform: scale(0.95);
}

/* Banner */
.banner {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.banner-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 0 30px;
    /* background-color: cadetblue; */
}
.btn-lft{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn-lft button:hover{
    background-color: blue;
}

.btn-lft button:active{
    transform: scale(0.95);
}

.lft-p{
    font-size: large;
    text-align: center;
    color: aliceblue;
}
.banner-left h2{
    font-size: xx-large;
    color: aliceblue;
}  

.banner-right {
    flex: 1.5;
}

.banner img {
    width: 100%;
    /* max-height: 700px; */
    object-fit: cover;
}




/* Main section */
main{
    max-width: 1140;
    margin: 0 auto;
}


/* About section */
.about{
    background-color: rgb(28, 28, 28);
    padding: 80px;
    text-align: left;
    /* max-width: 50%; */
}
.about h2{
    margin: 0 20px;
    font-size: xx-large;
    color: aliceblue;
    padding-bottom: 20px;
    
}
.about p{
    font-size: large;
    text-align:justify ;
    color: aliceblue;
    margin: 0 20px;
    line-height:1.5;
}